USE [master]
GO
/****** Object:  Database [CNPM]    Script Date: 4/20/2022 5:15:26 PM ******/
CREATE DATABASE [CNPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CNPM.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CNPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CNPM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNPM]
GO
/****** Object:  Table [dbo].[ANH]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANH](
	[MaAnh] [bigint] IDENTITY(1,1) NOT NULL,
	[LinkAnh] [nvarchar](100) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[MaBaiViet] [bigint] IDENTITY(1,1) NOT NULL,
	[MaND] [bigint] NOT NULL,
	[TieuDe] [nvarchar](80) NOT NULL,
	[DienTich] [float] NOT NULL,
	[Gia] [float] NOT NULL,
	[KhuVuc] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[LinkAnh] [nvarchar](45) NULL,
	[An] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAIVIET]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAIVIET](
	[MaBaiViet] [bigint] NOT NULL,
	[TinhTP] [nvarchar](45) NOT NULL,
	[QuanHuyen] [nvarchar](45) NOT NULL,
	[PhuongXa] [nvarchar](45) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOPY]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOPY](
	[MaGY] [bigint] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[SoSao] [int] NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[MaND] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaND] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDN] [nvarchar](30) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](45) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[LinkAnhDaiDien] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANGCAO](
	[MaQC] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[GiaQC] [float] NOT NULL,
	[TinhTrang] [bit] NULL,
	[MaBaiViet] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDN] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](256) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TENQUYEN]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TENQUYEN](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MaTB] [bigint] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [nvarchar](45) NOT NULL,
	[NoiDung] [nvarchar](45) NOT NULL,
	[MaND] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 4/20/2022 5:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[MaVideo] [bigint] IDENTITY(1,1) NOT NULL,
	[LinkVideo] [nvarchar](100) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANH]  WITH CHECK ADD FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BAIVIET] ([MaBaiViet])
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[CHITIETBAIVIET]  WITH CHECK ADD FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BAIVIET] ([MaBaiViet])
GO
ALTER TABLE [dbo].[GOPY]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([TenDN])
REFERENCES [dbo].[TAIKHOAN] ([TenDN])
GO
ALTER TABLE [dbo].[QUANGCAO]  WITH CHECK ADD FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BAIVIET] ([MaBaiViet])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[TENQUYEN] ([MaQuyen])
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BAIVIET] ([MaBaiViet])
GO
USE [master]
GO
